body{
  background-color : #E8F9FD;
}
hr{
border: none;
  border-top: dotted 5px;

 background-color: #E8F9FD;
 width: 5%;
  border-color: #79DAE8;



}
h1{
  color: #2155CD;
}
h3{
  color: #2155CD;
}
